/*
[Table of contents]

* Global Style
* Preloader
* Section Title
* Main Menu / Navbar
* About Area
* Discourser Area
* Contact Area 
* Footer Area
*/

/*============Global Style================ */
html,
body {
    height: 100%;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #000;
    margin: 0;
}

a {
    -webkit-transition: .3s;
    transition: .3s
}

a:hover {
    color: #00bbff;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #000;
    font-weight: 600;
    line-height: 1.7;
    margin: 0;
}

.d-table {
    width: 100%;
    height: 100%;
}

.d-table-cell {
    vertical-align: middle;
}

img {
    max-width: 100%;
    height: auto;
}

.button {
    color: #fff;
    font-size: 14px;
    display: inline-block;
    border: 2px solid;
    padding: 10px 20px;
}

.button:hover {
    color: #000;
}

.bg-a {
    background-color: #000;
}

.section-padding {
    padding: 50px 0;
}

.pb-70 {
    padding-bottom: 70px;
}

.pb-85 {
    padding-bottom: 85px;
}

.bg-img {
    background-color: #ddd;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.bg-primari {
    background-color: #000 !important;
}

.bg-secondary {
    background-color: #00bbff !important;
}

button:focus {
    outline: none;
}


/*::::::::::::::::::::::::::::::::::::
    Preloader
::::::::::::::::::::::::::::::::::::*/

.preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 99999;
}

.spinner {
    position: absolute;
    left: 50%;
    margin-left: -20px;
    bottom: 50%;
    margin-bottom: -20px;
    width: 40px;
    height: 40px;
}

.cube1,
.cube2 {
    background-color: #00bbff;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
    animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
    25% {
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5)
    }
    50% {
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg)
    }
    75% {
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5)
    }
    100% {
        -webkit-transform: rotate(-360deg)
    }
}

@keyframes sk-cubemove {
    25% {
        transform: translateX(42px) rotate(-90deg) scale(0.5);
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    }
    50% {
        transform: translateX(42px) translateY(42px) rotate(-179deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
    }
    50.1% {
        transform: translateX(42px) translateY(42px) rotate(-180deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    }
    75% {
        transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    }
    100% {
        transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
    }
}



/*::::::::::::::::::::::::::::::::::::
   Section Title
::::::::::::::::::::::::::::::::::::*/

.section-title {
    margin-bottom: 20px;
}

.section-title h2 {
    position: relative;
    font-size: 32px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    line-height: 1;
}

.section-title h2:before,
.section-title h2:after {
    position: absolute;
    content: '';
    left: 50%;
    bottom: 0;
    width: 50px;
    height: 5px;
    background-color: #000;
}

.section-title h2:before {
    left: auto;
    right: 50%;
    background-color: #00bbff
}

.section-title-white h2 {
    position: relative;
    font-size: 32px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    line-height: 1;
    color: white;
}

/*::::::::::::::::::::::::::::::::::::
   Main Menu
::::::::::::::::::::::::::::::::::::*/
.navbar{
    -webkit-transition: .3s;
    transition: .3s;
}
.navbar-name {
    color: #fff;
}

.navbar-expand-lg .navbar-nav .nav-link {
    color: #fff;
    font-size: 15px;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
    color: #00bbff;
}

.gray {
    background-color: #222222;
}

/*::::::::::::::::::::::::::::::::::::
   About Area
::::::::::::::::::::::::::::::::::::*/

.about-area {
    margin-top: 50px;
}

.about-bg {
    max-width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.about-content span {
    color: #00bbff;
    font-size: 100%;
}

.about-content h2 {
    color: #fff;
    font-size: 200%;
}

.about-content h4 {
    font-weight: 400;
    font-size: 22px;
    margin-bottom: 15px;
}

.about-content p {
    font-weight: 400;
    color:#fff;
}

.about-content h5 {
    margin: 30px 0;
}


/*::::::::::::::::::::::::::::::::::::
   Discourser
::::::::::::::::::::::::::::::::::::*/

.section-title.faq-title h2:after {
    background-color: #000;
}

.section-title.faq-title h2:before {
    background-color: #fff;
}

.faq-bg {
    min-width: 100%;
    min-height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}

.single-faq {
    margin-bottom: 5px;
}

.single-faq h4 {
    color: #fff;
    padding: 5px 15px;
    background-color: #333;
    cursor: pointer;
    font-weight: 400;
    font-size: 24px;
    position: relative;
    z-index: 1;
}

.single-faq h4[aria-expanded="true"]:after {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
}

.single-faq h4:after {
    position: absolute;
    font-family: FontAwesome;
    content: "\f107";
    text-align: center;
    right: 0;
    top: 0;
    color: #fff;
    background-color: #000;
    width: 60px;
    height: 100%;
    line-height: 200%;
}

.faq-body {
    background: #3e3e3e;
    color: #fff;
    padding: 15px;
    font-size: 14px;
}

.tos-pp {
    font-size: 12px;
    text-align: center;
}

.tos-pp-text {
    color: #000;
}

a:link {
    color: #000;
}


/*::::::::::::::::::::::::::::::::::::
   Contact Area 
::::::::::::::::::::::::::::::::::::*/

.contact-form {
    padding: 20px;
    box-shadow: 0 0 10px #ccc;
}

.contact-form .form-control {
    background-color: #f8f9fa;
    font-size: 14px;
    padding: 10px;
    border: none;
    border-radius: 0;
}

.contact-form .form-control:active {
    box-shadow: 0 0 0;
    background-color: #f8f9fa;
}


.contact-form textarea.form-control {
    height: 140px;
}

input:-webkit-autofill {
    background-color: #f8f9fa;
    border: none;
}

.form-control::-webkit-input-placeholder {
    color: #494949;
}

.form-control:-ms-input-placeholder {
    color: #494949;
}

.form-control::-ms-input-placeholder {
    color: #494949;
}

.form-control::-webkit-input-placeholder {
    color: #494949;
}

.form-control::-moz-placeholder {
    color: #494949;
}

.form-control:-ms-input-placeholder {
    color: #494949;
}

.form-control::placeholder {
    color: #494949;
}

.form-control:focus {
    box-shadow: none;
}

.form-btn .button {
    margin: 0;
    border: none;
    background-color: #242424;
    color: #fff;
    cursor: pointer;
    -webkit-transition: .3S;
    transition: .3S;
}

.form-btn .button:hover {
    color: #00bbff;
    background-color: #00bbff;
}

.form-message {
    margin-top: 15px;
    font-weight: 700;
}

.form-message.error {
    color: #f00;
}

.form-message.success {
    color: #000;
}


/*:::::::::::::::::::::::::::::::::::
        Footer Area
:::::::::::::::::::::::::::::::::::*/

.footer-area {
    padding: 20px;
    background-color: #000;
    border-bottom: 5px solid #00bbff;
}

.copyright-text a {
    color: #eee;
    -webkit-transition: .3s;
    transition: .3s;
}

.copyright-text a:hover {
    color: #00bbff;
}
